@page "/teachers/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAppPD_212.Models
@inject IDbContextFactory<BlazorAppPD_212.Data.BlazorAppPD_212Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Teacher</h2>
    <hr />
    @if (teacher is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">WorkSince</dt>
            <dd class="col-sm-10">@teacher.WorkSince</dd>
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@teacher.LastName</dd>
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@teacher.FirstName</dd>
            <dt class="col-sm-2">MiddleName</dt>
            <dd class="col-sm-10">@teacher.MiddleName</dd>
            <dt class="col-sm-2">BirthDate</dt>
            <dd class="col-sm-10">@teacher.BirthDate</dd>
        </dl>
        <div>
            <a href="@($"/teachers/edit?id={teacher.Id}")">Edit</a> |
            <a href="@($"/teachers")">Back to List</a>
        </div>
    }
</div>

@code {
    private Teacher? teacher;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        teacher = await context.Teacher.FirstOrDefaultAsync(m => m.Id == Id);

        if (teacher is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
