@page "/digits"
@rendermode InteractiveServer

<PageTitle>Digits</PageTitle>

<h3>Digits</h3>
<div style="display:flex; justify-content:space-between;" @onmouseup="Calculate">
	@* <div class="digit" @onmouseover="MyOnMouseOver" @onmouseout="MyOnMouseOut">@Values[7]</div> *@
	<div class="digit" @onmouseup="() => Values[7] = Values[7] == 0 ? 1 : 0">@Values[7]</div>
	<div class="digit" @onmouseup="() => Values[6] = Values[6] == 0 ? 1 : 0">@Values[6]</div>
	<div class="digit" @onmouseup="() => Values[5] = Values[5] == 0 ? 1 : 0">@Values[5]</div>
	<div class="digit" @onmouseup="() => Values[4] = Values[4] == 0 ? 1 : 0">@Values[4]</div>
	<div class="digit" @onmouseup="() => Values[3] = Values[3] == 0 ? 1 : 0">@Values[3]</div>
	<div class="digit" @onmouseup="() => Values[2] = Values[2] == 0 ? 1 : 0">@Values[2]</div>
	<div class="digit" @onmouseup="() => Values[1] = Values[1] == 0 ? 1 : 0">@Values[1]</div>
	<div class="digit" @onmouseup="() => Values[0] = Values[0] == 0 ? 1 : 0">@Values[0]</div>

	<div class="decimal" @onmouseover="MyOnMouseOver" @onmouseout="MyOnMouseOut">@Result</div>
</div>
<ol>
	@for (int i = 0; i < 10; i++)
	{
		<li>Pressed @i</li>
	}
</ol>

@code {
	public int[] Values { get; set; } = new int[8];
	public int Result { get; set; } = 0;
	public void MyOnMouseOver()
	{
		//Values[7] = Values[7] == 0 ? 1 : 0;
		// Result = uint.MaxValue;
	}
	public void MyOnMouseOut()
	{
		Values[7] = Values[7] == 0 ? 1 : 0;
		// Result = 0;
	}
	public void Calculate()
	{
		Result = 0;
		int weight = 1;
		for (int i = 0; i < Values.Length; i++, weight*=2)
		{
			Result += Values[i] * weight;
		}
		// return Result;
	}
}
